.fp-block-one , .fp-block-two {
  margin-bottom: 1em;
  padding: 0;

  h2 {
    color:black;
    margin-bottom: 25px;
  }

  p {
    margin: 25px 0;
  }
}


.fp-title {
  margin: 25px 0;
}


.reseller-block {
  min-height: 80px;
  background: $light-gray;
  margin: 50px 0 0 0;
}
