// Glyphicons font path
$icon-font-path:        "../fonts/";

$droid : 'Droid Sans', sans-serif;
$cabin: 'Cabin', sans-serif;

// Transitions
$transition: all 0.30s ease;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

$transition: all 0.30s ease;

// Colors
$green: #6f9a37;
$brand-primary:         black;
$light-gray: rgba(0,0,0,0.03);
