// Glyphicons font path
$icon-font-path:        "../fonts/";

$droid : 'Droid Sans', sans-serif;
$cabin: 'Cabin', sans-serif;

// Transitions
$transition: all 0.30s ease;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

$transition: all 0.30s ease;

// Colors
$green: #6f9a37;
$brand-primary:         #57a0d7;
$light-gray: rgba(0,0,0,0.03);


//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

//== Navbar
//
//##

// Basics of a navbar

$navbar-default-color:             #777 !default;
$navbar-default-bg:                $brand-primary !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;
